<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
         <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
             <layout class="com.dawninfotek.logplus.extension.logback.LogPlusJsonLayout">
             </layout>
         </encoder>
     </appender>

     <root level="debug">
         <appender-ref ref="stdout"/>
     </root>
</configuration>
